<div app-message></div>

<h1>Parity Checksum</h1>

<p>
	Parity checksum is a method of error detection that uses a single bit to detect errors in data.
</p>

<p>
	2D parity checksum is a method of error detection that uses two-dimensional parity to detect errors in data.
</p>

<p>
	First, enter the binary data to be sent.
</p>

<div id="data-length-container">
	<app-binary-data [(binaryData)]="senderData" (binaryDataChange)="setSenderData($event)"></app-binary-data>
	<span> Data length: {{ senderData().length }} </span>
</div>

<p>
	Enter the number of rows. If the number of rows is less than 2, it will be considered as a single parity bit.
	Otherwise, it will be considered as 2D parity checksum.
</p>

<div id="data-partial-container">
	<app-decimal-data [(decimalData)]="columnNumber" (decimalDataChange)="getPartialData($event)" [placeholder]="'Number of Rows'"></app-decimal-data>
</div>

@if (senderData().length) {
@if (columnNumber() < 2) { <p>
	The number of 1 bits are {{ countSender1() }}, so the parity bit: <span class="parity-bit"> {{ parity() }} </span>
	</p>
	<div id="single-parity">
		<h4>Sender</h4>
		<div class="bit-container">
			<span class="parity-bit"> {{ parity() }} </span>
			@for (item of senderData(); track $index) {
			<span (click)="toggleSender($index)">
				{{item}}
			</span>
			}
		</div>

		<h4>Receiver</h4>
		<div class="bit-container">
			@if (!visited) {
			<app-guide explanation="Click to toggle" direction="top" text="bottom"
				style="top: 28px; left: 25px;"></app-guide>
			}
			<span class="parity-bit"> {{ parity() }} </span>
			@for (item of receiverData(); track $index; let first = $first) {
			<span (click)="toggleData(receiverData, $index)"
				[class.error-bit]="senderData()[$index] !== receiverData()[$index]">
				{{item}}
			</span>
			}
		</div>
	</div>

	<span class="explanation">
		@if (senderData() === receiverData()) {
		No error detected
		}
		@else {
		@if (parity() === getParity(receiverData())) {

		The number of 1's in receiver side is {{ getParity(receiverData()) ? 'even' : 'odd' }}. So, error could not be
		detected even the data is corrupted.

		} @else {

		The number of 1's in receiver side is {{ countReceiver1() }}, which is {{ getParity(receiverData()) ? 'even' :
		'odd' }} but the parity bit is {{
		parity() }}. So, error detected.
		}
		}
	</span>



	} @else {
	<p>
		Firstly, we divide the data into specified number of rows. Then, we calculate the parity bits for each row and
		column. Finally, we calculate the final parity bit.
	</p>

	<p>
		Divided data:
		@for (item of senderParityTable().dataBits; track $index) {
		<span> {{ item }} </span>
		}
	</p>

	<div>
		<h2>Sender</h2>
		<div class="parity-check-table" [style.grid-template-columns]="
			'repeat(' + (senderData().length / columnNumber() + 1) + ', 1fr)'
		  ">
			@if (!visited) {
			<app-guide explanation="Click to toggle" direction="right" text="left" style="left: -140px;"></app-guide>
			}
			@for (dataBits of senderParityTable().dataBits; track $index;let outerIndex =
			$index) {
			@for (bit of dataBits; track $index;let innerIndex =
			$index) {
			<span (click)="toggleSender((senderData().length / columnNumber()) * outerIndex + innerIndex)">
				{{bit}}
			</span>
			}
			<span class="parity-column">
				{{senderParityTable().parityColumn[outerIndex]}}
			</span>
			}
			@for (item of senderParityTable().parityRow; track $index) {
			<span class="parity-row">
				{{item}}
			</span>
			}
			<span class="parity-final parity-bit">
				{{ senderParityTable().final }}
			</span>
		</div>
	</div>

	<div>
		<h2>Receiver</h2>
		<div class="parity-check-table" [style.grid-template-columns]="
			'repeat(' + (receiverData().length / columnNumber() + 1) + ', 1fr)'
		  ">
		  @if (!visited) {
			<app-guide explanation="Click to toggle" direction="right" text="left" style="left: -140px;"></app-guide>
			}
			@for (dataBits of receiverParityTable().dataBits; track $index;let outerIndex =
			$index) {
			@for (bit of dataBits; track $index;let innerIndex =
			$index) {
			<span (click)="toggleData(receiverData, (receiverData().length / columnNumber()) * outerIndex + innerIndex)"
				[class.error-bit]="bit !== senderParityTable().dataBits[outerIndex][innerIndex]">
				{{bit}}
			</span>
			}
			<span class="parity-column"
				[class.error-bit]="senderParityTable().parityColumn[outerIndex] !== receiverParityTable().parityColumn[outerIndex]">
				{{receiverParityTable().parityColumn[outerIndex]}}
			</span>
			}
			@for (item of receiverParityTable().parityRow; track $index) {
			<span class="parity-row"
				[class.error-bit]="senderParityTable().parityRow[$index] !== receiverParityTable().parityRow[$index]">
				{{item}}
			</span>
			}
			<span class="parity-final parity-bit">
				{{ receiverParityTable().final }}
			</span>
		</div>
	</div>

	<h3 [innerText]="errorState()"></h3>
	}
	}
