div,
h2, h3 {
	text-align: center;
}

p {
	margin: var(--margin-xs) 0;
	padding: 0 var(--margin-xxl);
	text-align: center;
}

.uncorrectable {
	margin: 40px 0;
	color: blueviolet;
}

#data-length-container,
#data-partial-container {
	margin: 20px 0;
}

#single-parity {
	overflow: scroll;

	.node {
		.bit-container {
			display: flex;
			justify-content: flex-start;
			gap: var(--margin-xs);
		
			span {
				margin: var(--margin-xxs) 0;
				padding: 0 var(--margin-xxs);
				cursor: pointer;
		
				&:not(.parity-bit):hover {
					background-color: lightgray;
				}
			}
		}
	}
}

.parity-bit {
	background-color: gray;
	padding: 0 var(--margin-xxs);
}

.error-bit {
	background-color: red;
}

.parity-check-table {
	display: inline-grid;

	span {
		padding: var(--margin-xs);
		cursor: pointer;
		&:hover {
			background-color: lightgray;
		}
	}
}

.parity-column {
	border-left: 2px solid #ffffff;
}

.parity-row {
	border-top: 2px solid #ffffff;
}

.parity-final {
	border-left: 2px solid #ffffff;
	border-top: 2px solid #ffffff;
}

.explanation {
	display: inline-block;
	margin: var(--margin-xl) var(--margin-l);
}
