@if (!sidebar()) {
<button id="sidebar-icon" (click)="sidebarClick()">
	<img src="icons/list.svg" alt="Settings" />
</button>
}

@if (sidebar()) {
<div id="sidebar-container">
	<div id="sidebar">
		<a routerLink="" id="#home"> Home </a>
		@for (section of sections; track $index) {
		<div>
			<h4>{{ section.name }}</h4>

			<ul>
				@for (part of section.parts; track $index) {
				<li>
					<a [routerLink]="part.route">
						{{ part.name }}
					</a>
				</li>
				}
			</ul>
		</div>
		}
	</div>

	<div id="sidebar-blank" (click)="sidebarClick()"></div>
</div>
}
