<h1>Analog Signal Visualization</h1>
<p>
	Analog signals are continuous-time signals that can take any value within a range. They are represented by a mathematical function of time. The most common analog signal is the sinusoidal signal. The sinusoidal signal is defined by its amplitude, frequency, and phase. The amplitude is the maximum value of the signal, the frequency is the number of cycles per second, and the phase is the shift of the signal in degrees. The sinusoidal signal is represented by the following equation:
</p>
<p id="sinus-equation">
	s(t) = A . sin(2π . f . t + φ)
</p>

<div class="visual-container">
	<div class="signal-editor">
		@for (item of analogSignals; track $index) {
		<div class="signal-visual">
			<app-analog-signal
				[sinus]="{ amplitude: item.amplitude, frequency: item.frequency, phase: item.phase }"></app-analog-signal>
			<p>
				s(t) = {{ item.amplitude }} . sin(2π . {{ item.frequency }} . t . {{ item.phase }}°)
			</p>

			<label for="frequency">Frequency: </label>
			<input type="number" id="frequency" name="frequency" value="1" #frequency
				(input)="setFrequency(frequency, $index)">

			<label for="amplitude">Amplitude: {{ item.amplitude }} </label>
			<input type="range" id="amplitude" name="amplitude" min="0" max="1" value="1" step="0.01" #amplitude
				(input)="setAmplitude(amplitude, $index)" />

			<label for="phase">Phase: {{ item.phase }} </label>
			<input type="range" id="phase" name="phase" min="0" max="360" value="0" list="phases" #phase
				(input)="setPhase(phase, $index)" />

			<datalist id="phases">
				<option value="0" label="0"></option>
				<option value="45" label="π\4"></option>
				<option value="90" label="π\2"></option>
				<option value="135" label="3π\4"></option>
				<option value="180" label="π"></option>
				<option value="225" label="5π\4"></option>
				<option value="270" label="3π\4"></option>
				<option value="315" label="7π\4"></option>
				<option value="360" label="2π"></option>
			</datalist>
		</div>
		}
	</div>
	<div class="signal-sum">
		<div class="sum-fixed">
			<div class="add-remove-buttons">
				@if (!visited) {
					<app-guide direction="left" text="right" explanation="Click to add or remove signal" style="left: 120px; top: 0;"></app-guide>
				}
				<button (click)="addSignal()"> Add </button>
				<button (click)="removeSignal()"> Remove </button>
			</div>
			<h3>Addition of Frequency Components</h3>
			<app-analog-signal path="M 0 80 Q 25 0 50 80" [signalSum]="signalSum()"></app-analog-signal>
			<p>
				Sum of the signals:
			</p>
			<p>
				@if (onlyOneSignal === false) {
					4/π [
				}
				 
				@for (item of analogSignals; track $index) {
				{{ item.amplitude }} . sin(2π . {{ item.frequency }} . t + {{ item.phase }}°)
				{{ $index < analogSignals.length - 1 ? '+' : '' }}
				}
				@if (onlyOneSignal === false) {
					]
				}
			</p>
		</div>
	</div>
</div>
