<div class="visual-container">
	<div class="signal-editor">
		@for (item of analogSignals; track $index) {
			<p>
				s(t) = {{ item.amplitude }} . sin(2π . {{ item.frequency }} . t . {{ item.phase }}°)
			</p>
		<div class="signal-visual">
			<app-analog-signal
				[sinus]="{ amplitude: item.amplitude, frequency: item.frequency, phase: item.phase }"></app-analog-signal>

			<label for="frequency">Frequency: </label>
			<input type="number" id="frequency" name="frequency" value="1" #frequency
				(input)="setFrequency(frequency, $index)">

			<label for="amplitude">Amplitude: {{ item.amplitude }} </label>
			<input type="range" id="amplitude" name="amplitude" min="0" max="1" value="1" step="0.01" #amplitude
				(input)="setAmplitude(amplitude, $index)" />

			<label for="phase">Phase: {{ item.phase }} </label>
			<input type="range" id="phase" name="phase" min="0" max="360" value="0" list="phases" #phase
				(input)="setPhase(phase, $index)" />

			<datalist id="phases">
				<option value="0" label="0"></option>
				<option value="45" label="π\4"></option>
				<option value="90" label="π\2"></option>
				<option value="135" label="3π\4"></option>
				<option value="180" label="π"></option>
				<option value="225" label="5π\4"></option>
				<option value="270" label="3π\4"></option>
				<option value="315" label="7π\4"></option>
				<option value="360" label="2π"></option>
			</datalist>
		</div>
		}
		<div class="add-remove-buttons">
			<button (click)="addSignal()"> Add </button>
			<button (click)="removeSignal()"> Remove </button>
		</div>
	</div>
	<div class="signal-sum">
		<app-analog-signal path="M 0 80 Q 25 0 50 80"></app-analog-signal>
	</div>
</div>
