svg {
	position: relative;
}

label {
	input {
		display: block;
	}
}

.vertical-container {
	display: flex;
}

#vertical-numbers {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 2vw;

	#amplitude-indicator {
		position: absolute;
		top: -5%;
		left: 90%;
		transform: translateY(-50%);
	}
}

#horizontal-numbers {
	display: flex;
	justify-content: space-between;
	font-size: 2vw;
	padding-left: 2vw
}

.non-center-line {
	opacity: 0.5;
}

#wave {
	stroke-width: 1px;
	stroke: green;
	fill: none;
}

#time-indicator {
	display: flex;
	align-items: flex-end;
	margin-left: 5px;
}
