<div style="margin: 400px;">
	<svg viewBox="0 0 100 50">
		<text x="0" y="3" fill="white" font-size="3">1.0</text>
		<text x="0" y="14" fill="white" font-size="3">0.5</text>
		<text x="0" y="25" fill="white" font-size="3">0.0</text>
		<text x="0" y="36" fill="white" font-size="3">-0.5</text>
		<text x="0" y="47" fill="white" font-size="3">-1.0</text>

		<!-- HORIZONTAL LINES -->
		<line x1="6" y1="2" x2="100" y2="2" stroke="white" stroke-width="0.4%" class="non-center-line"/>
		<line x1="6" y1="13" x2="100" y2="13" stroke="white" stroke-width="0.4%" class="non-center-line"/>
		<line x1="6" y1="24" x2="100" y2="24" stroke="white" stroke-width="0.4%" />
		<line x1="6" y1="35" x2="100" y2="35" stroke="lightgray" stroke-width="0.4%" class="non-center-line"/>
		<line x1="6" y1="46" x2="100" y2="46" stroke="white" stroke-width="0.4%" class="non-center-line"/>

		<!-- VERTICAL LINES -->
		<line x1="7" y1="0" x2="7" y2="47" stroke="white" stroke-width="0.4%" />
		<line x1="37" y1="0" x2="37" y2="47" stroke="white" stroke-width="0.4%" />
		<line x1="67" y1="0" x2="67" y2="47" stroke="white" stroke-width="0.4%" />
		<line x1="97" y1="0" x2="98" y2="47" stroke="white" stroke-width="0.4%" />
		
		<text x="7" y="50" fill="white" font-size="3">0.0</text>
		<text x="36" y="50" fill="white" font-size="3">0.5</text>
		<text x="65" y="50" fill="white" font-size="3">1.0</text>
		<text x="94" y="50" fill="white" font-size="3">1.5</text>
	
		<path id="wave" d="M 7 24 Q 22 -19.8, 37 24 T 67 24"></path>
	</svg>
</div>
