<div class="coor-container">
	<div class="vertical-container">
		<div id="vertical-numbers">
			<span> 1.0 </span>
			<span> 0.5 </span>
			<span> 0.0 </span>
			<span> -0.5 </span>
			<span> -1.0 </span>
		</div>
		<svg viewBox="0 0 200 100">
			<!-- HORIZONTAL LINES -->
			<line x1="0" y1="0" x2="200" y2="0" stroke="white" stroke-width="2" class="non-center-line" />
			<line x1="0" y1="25" x2="200" y2="25" stroke="white" stroke-width="1" class="non-center-line" />
			<line x1="0" y1="50" x2="200" y2="50" stroke="white" stroke-width="1" />
			<line x1="0" y1="75" x2="200" y2="75" stroke="white" stroke-width="1" class="non-center-line" />
			<line x1="0" y1="100" x2="200" y2="100" stroke="white" stroke-width="2" class="non-center-line" />

			<!-- VERTICAL LINES -->
			<line x1="0" y1="0" x2="0" y2="100" stroke="white" stroke-width="2" />
			<line x1="50" y1="0" x2="50" y2="100" stroke="white" stroke-width="1" class="non-center-line" />
			<line x1="100" y1="0" x2="100" y2="100" stroke="white" stroke-width="1" />
			<line x1="150" y1="0" x2="150" y2="100" stroke="white" stroke-width="1" class="non-center-line" />
			<line x1="200" y1="0" x2="200" y2="100" stroke="white" stroke-width="2" />

			<!--<path id="wave" [attr.d]="computeSinus()"></path>-->

			@for (item of drawSinus(); track $index) {
				<line [attr.x1]="item.x1" [attr.y1]="item.y1" [attr.x2]="item.x2" [attr.y2]="item.y2" stroke="green"></line>
			}

		</svg>
	</div>
	<div id="horizontal-numbers">
		<span> 0.0 </span>
		<span> 0.5 </span>
		<span> 1.0 </span>
		<span> 1.5 </span>
		<span> 2.0 </span>
	</div>
</div>
