::ng-deep .cell-container{

		display: flex;
		overflow-x: scroll;

		.data-cell {
			.bit {
				text-align: center;
			}

			.signal-container {
				width: 140px;
				height: 140px;
				position: relative;

				div {
					position: absolute;
				}

				.top-left-dashed {
					border-left: 2px dashed white;
					left: 0;
					top: 0;
					height: 20px;
				}

				.bottom-left-dashed {
					border-left: 2px dashed white;
					left: 0;
					bottom: 0;
					height: 20px;
				}
			}
		}
	
}
