<app-binary-data (binaryDataChange)="setSignal($event)"></app-binary-data>

<p>
	Choose an encoding scheme to interpret the signal.
</p>

<div id="encodings">
	@for (item of schemes; track $index) {
		<button (click)="scheme = item">
			{{ item }}
		</button>
	}
</div>

<h3 id="current-encoding">
	{{ scheme }}
</h3>

<div id="current-scheme">
	@switch (scheme) {
		@case ('NRZ-L') {
			<app-nrz
				[data]="data()"
				(error)="setError($event)"
				(receiverDataOutput)="setReceiverData($event)">
			</app-nrz>
		}
		@case ('NRZI') {
			<app-nrzi
			[data]="data()"
			(error)="setError($event)"
			(receiverDataOutput)="setReceiverData($event)">
			</app-nrzi>
		}
		@case ('Manchester') {
			<app-manchester
				[data]="data()"
				(error)="setError($event)"
				(receiverDataOutput)="setReceiverData($event)">
			</app-manchester>
		}
		@case ('Differential Manchester') {
			<app-diff-manchester
				[data]="data()"
				(error)="setError($event)"
				(receiverDataOutput)="setReceiverData($event)">
			</app-diff-manchester>
		}
		@case ('Bipolar AMI') {
			<app-bipolar
				[data]="data()"
				(receiverDataOutput)="setReceiverData($event)"
				(error)="setError($event)">
			</app-bipolar>
		}
	}
</div>

<p id="explanation">
	Interpreted signal by receiver is <strong>{{ receiverData }}</strong>. {{ error }}
</p>
