<app-binary-data (binaryDataChange)="data.set($event)"></app-binary-data>

<p>
	Choose an encoding scheme to interpret the signal.
</p>

<div id="encodings">
	@for (item of schemes; track $index) {
		<button (click)="scheme = item">
			{{ item }}
		</button>
	}
</div>

<h3 id="current-encoding">
	{{ scheme }}
</h3>

<div id="current-scheme">
	@switch (scheme) {
		@case ('NRZ-L') {
			<app-nrz [data]="data()"></app-nrz>
		}
		@case ('NRZI') {
			<app-nrzi [data]="data()"></app-nrzi>
		}
		@case ('Manchester') {
			<app-manchester [data]="data()"></app-manchester>
		}
		@case ('Differential Manchester') {
			<app-diff-manchester [data]="data()"></app-diff-manchester>
		}
		@case ('Bipolar AMI') {
			<app-bipolar [data]="data()"></app-bipolar>
		}
	}
</div>
