::ng-deep {
	.block-input{
		label {
			display: block;
		}
	}

	.poly-input {
		input {
			width: 30px;
		}
	}
}

.division-op {
	display: grid;
	font-size: 0.8rem;
	margin: var(--margin-xs);

	.left-side {
		grid-column-start: 1;
		grid-column-end: 1;
		justify-self: right;
		padding-right: var(--margin-xxs);

		.dividend-step-container{
			opacity: 0;
		}
	}

	.right-side {
		grid-column-start: 2;
		grid-column-end: 2;
	}

	.divider, .quotient {
		border-left: 2px solid white;
		padding: var(--margin-xxs) var(--margin-l);
	}

	.quotient span{
		opacity: 0;
	}

	.divider {
		border-bottom: 2px solid white;
	}

	.negative-step {
		border-bottom: 2px solid white;
		margin-bottom: var(--margin-xs);

		span {
			opacity: 0;
		}
	}
}

.control-buttons {
	position:fixed;
	bottom: 0;
	display: flex;
	width: 100%;

	button {
		width: 100%;
	}
}
