<div id="user-inputs">
  <app-binary-data class="block-input" (binaryData)="setData($event)"></app-binary-data>
  <app-decimal-data class="block-input" placeholder="Divider (GX) length" (decimalData)="setDivider($event)" inputmode="numeric"></app-decimal-data>
</div>


<div id="sender-receiver-data">
  <div>
    Sender:
  </div>
  <div class="comm-data">
    @for (item of senderData(); track $index) {
    <span>
      {{ item }}
    </span>
    }
  </div>
  <div>
    Receiver:
  </div>
  <div class="comm-data">
    @for (item of receiverData(); track $index) {
    <span #receiverDom (click)="toggleReceiver(receiverDom ,$index)">
      {{ item }}
    </span>
    }
  </div>
</div>

<div>
  G(X) = @for (item of dividerPoly(); track $index) {
  X <sup>
    <app-decimal-data placeholder="" class="poly-input" inputmode="numeric" (decimalData)="setDividerPoly($event, $index)"></app-decimal-data>
  </sup>
  }
</div>

<div>
  G(X) = <div app-polynomial [polyData]="dividerPolyView()" class="inline-poly"></div>
</div>

<div>
  P(X) = <div app-polynomial [polyData]="senderDataPoly()" class="inline-poly"></div>
</div>

<div>
  X<sup>
    {{ senderDividend()[0] }}</sup>.G(X) =
  <div app-polynomial [polyData]="senderDividend()" class="inline-poly"></div>
</div>

<div class="division-op">
  <div class="left-side">
    @for (item of senderDivisionOp().dividendSteps; track $index; let last =
    $last) {
    @if(item.length === 0){
    0
    }

    <div app-polynomial [polyData]="item" class="dividend-step-container" #senderAnime></div>

    @if (!last) {
    <div app-polynomial [polyData]="senderDivisionOp().negativeSteps[$index]" class="negative-step" #senderAnime></div>
    }
    }
  </div>

  <div class="right-side">
    <div app-polynomial [polyData]="dividerPoly()" class="divider" #senderAnime></div>
    <div app-polynomial [polyData]="senderDivisionOp().quotient" class="quotient" #senderAnime></div>
    <div>
      {{ animationMessage() }}
    </div>

  </div>
</div>

<div>
  X<sup>
    {{ receiverDividend()[0] }}</sup>.G(X) =
  <div app-polynomial [polyData]="receiverDividend()" class="inline-poly"></div>
</div>

<div class="division-op" id="receiver">
  <div class="left-side">
    @for (item of receiverDivisionOp().dividendSteps; track $index; let last =
    $last) {
    @if(item.length === 0){
    <div class="dividend-step-container" #receiverAnime>
      0
    </div>
    }
    <div app-polynomial [polyData]="item" class="dividend-step-container" #receiverAnime></div>

    @if (!last) {
    <div app-polynomial [polyData]="receiverDivisionOp().negativeSteps[$index]" class="negative-step" #receiverAnime></div>
    }
    }
  </div>

  <div class="right-side">
    <div app-polynomial [polyData]="dividerPoly()" class="divider" #receiverAnime></div>
    <div app-polynomial [polyData]="receiverDivisionOp().quotient" class="quotient" #receiverAnime></div>
  </div>
</div>

<div class="control-buttons">
  <button (click)="previousStep()">
    Previous
  </button>

  <button (click)="nextStep()">
    Next
  </button>
</div>
