::ng-deep {
  .poly-input {
    input {
      width: 30px;
    }
  }

  .dividend-step-container {
    opacity: 0;
  }

  .quotient,
  .negative-step {
    span {
      opacity: 0;
    }
  }
}

h1 {
  text-align: center;
}

p {
  text-align: justify;
  margin: var(--margin-s) var(--margin-xs);
}

#user-inputs {
  display: grid;
  justify-content: center;
  margin: var(--margin-xl) 0;

  app-binary-data, div {
	margin: var(--margin-xs);
  }
}

#sender-dividend {
  margin: var(--margin-xl) var(--margin-xs);
}

#receiver {
  margin: var(--margin-xl) 0;
}

#data-to-send {
	margin: 0 var(--margin-xs);
}

#sender-receiver-data {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: var(--margin-l) 0;
  margin: 0 var(--margin-xs);
  overflow: scroll;

  .comm-data {
    display: flex;
    justify-content: flex-start;
    gap: var(--margin-l);
    margin-left: var(--margin-xxs);

    span {
      padding: 0 var(--margin-xxs);

      &:hover {
        cursor: pointer;
        background-color: #3cabc7;
      }
    }
  }
}

.division-op {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 0.8rem;
  margin: var(--margin-xs);

  .left-side {
    grid-column-start: 1;
    grid-column-end: 1;
    justify-self: right;
    padding-right: var(--margin-xxs);

    .dividend-step-container {
      opacity: 0;
    }
  }

  .right-side {
    grid-column-start: 2;
    grid-column-end: 2;
  }

  .divider,
  .quotient {
    border-left: 2px solid white;
    padding: var(--margin-xxs) var(--margin-l);
  }

  .divider {
    border-bottom: 2px solid white;
  }

  .negative-step {
    border-bottom: 2px solid white;
    margin-bottom: var(--margin-xs);
  }

  .anime-message {
	padding: var(--margin-xs);
  }
}

.control-buttons {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;

  button {
    width: 100%;
  }
}

.inline-poly {
  display: inline-block;
}
