<app-binary-data class="block-input" (binaryData)="setData($event)"></app-binary-data>
<app-decimal-data class="block-input" placeholder="Divider (GX) length" (decimalData)="setDivider($event)" inputmode="numeric"></app-decimal-data>


<div>
  Sender:
  @for (item of senderData(); track $index) {
  <span (click)="toggleSender($index)">
    {{ item }} </span>
  }
</div>

<div>
  Receiver:
  @for (item of receiverData(); track $index) {
  <span (click)="toggleReceiver($index)" [style.background-color]="senderData()[$index] === receiverData()[$index] ? 'inherit' : 'red'">
    {{ item }} </span>
  }
</div>

<div>
  G(X) = @for (item of dividerPoly(); track $index) {
  X <sup>
    <app-decimal-data placeholder="" class="poly-input" inputmode="numeric" (decimalData)="setDividerPoly($event, $index)"></app-decimal-data>
  </sup>
  }
</div>

<div>
  G(X) = @for (item of dividerPolyView(); track $index; let last = $last) {
  @if (item == 0) {
  1
  } @else {
  X
  @if (item !== 1) {
  <sup>
    {{ item }}
  </sup>
  }
  }
  @if (!last) {
  +
  }
  }
</div>

<div>
  P(X) = @for (item of senderDataPoly(); track $index; let last = $last) {
  @if (item == 0) {
  1
  } @else {
  X
  @if (item !== 1) {
  <sup>
    {{ item }}
  </sup>
  }
  }
  @if (!last) {
  +
  }
  }
</div>

<div>
  X<sup>
    {{ senderDividend()[0] }}</sup>.G(X) = @for (item of senderDividend(); track $index; let last = $last) {
  @if (item == 0) {
  1
  } @else {
  X
  @if (item !== 1) {
  <sup>
    {{ item }}
  </sup>
  }
  }
  @if (!last) {
  +
  }
  }
</div>

<div class="division-op">
  <div class="left-side">
    @for (item of senderDivisionOp().dividendSteps; track $index; let last =
    $last) {
    @if(item.length === 0){
    0
    }

    <div class="dividend-step-container" #senderAnime>
      @for (poly of item; track $index; let first = $first) {
      @if (poly == 0) {
      <span class="dividend-node">
        1
      </span>

      } @else {
      <span class="dividend-node">
        @if (!first) {
        +
        }
        X
        @if (poly !== 1) {
        <sup>
          {{ poly }}
        </sup>
        }
      </span>
      }
      }
    </div>

    @if (!last) {
    <div class="negative-step" #senderAnime>
      @for (poly of senderDivisionOp().negativeSteps[$index]; track $index; let first = $first) {
      @if (poly == 0) {
      <span class="negative-node">
        1
      </span>
      } @else {
      <span class="negative-node">
        @if (!first) {
        +
        }
        X
        @if (poly !== 1) {
        <sup>
          {{ poly }}
        </sup>
        }
      </span>
      }
      }
    </div>
    }
    }


  </div>

  <div class="right-side">
    <div class="divider" #senderAnime>
      @for (divider of dividerPoly(); track $index; let last = $last) {
      @if (divider == 0) {
      <span class="divider-node">
        1
      </span>
      } @else {
      <span class="divider-node">
        X
        @if (divider !== 1) {
        <sup>
          {{ divider }}
        </sup>
        }
      </span>
      }
      @if (!last) {
      +
      }
      }
    </div>

    <div class="quotient" #senderAnime>
      @for (quotient of senderDivisionOp().quotient; track $index; let first = $first) {
      @if (quotient == 0) {
      <span class="quotient-node">
        1
      </span>
      } @else {
      <span class="quotient-node">
        @if (!first) {
        +
        }
        X
        @if (quotient !== 1) {
        <sup>
          {{ quotient }}
        </sup>
        }
      </span>
      }
      }
    </div>

	<div>
		{{ animationMessage() }}
	</div>

  </div>
</div>

<div>
  X<sup>
    {{ receiverDividend()[0] }}</sup>.G(X) = @for (item of receiverDividend(); track $index; let last = $last) {
  @if (item == 0) {
  1
  } @else {
  X
  @if (item !== 1) {
  <sup>
    {{ item }}
  </sup>
  }
  }
  @if (!last) {
  +
  }
  }
</div>

<div class="division-op">
  <div class="left-side">
    @for (item of receiverDivisionOp().dividendSteps; track $index; let last =
    $last) {
    @if(item.length === 0){
    0
    }

    <div class="dividend-step-container" #receiverAnime>
      @for (poly of item; track $index; let first = $first) {
      @if (poly == 0) {
      <span class="dividend-node">
        1
      </span>

      } @else {
      <span class="dividend-node">
        @if (!first) {
        +
        }
        X
        @if (poly !== 1) {
        <sup>
          {{ poly }}
        </sup>
        }
      </span>
      }
      }
    </div>

    @if (!last) {
    <div class="negative-step" #receiverAnime>
      @for (poly of receiverDivisionOp().negativeSteps[$index]; track $index; let first = $first) {
      @if (poly == 0) {
      <span class="negative-node">
        1
      </span>
      } @else {
      <span class="negative-node">
        @if (!first) {
        +
        }
        X
        @if (poly !== 1) {
        <sup>
          {{ poly }}
        </sup>
        }
      </span>
      }
      }
    </div>
    }
    }


  </div>

  <div class="right-side">
    <div class="divider" #receiverAnime>
      @for (divider of dividerPoly(); track $index; let last = $last) {
      @if (divider == 0) {
      <span class="divider-node">
        1
      </span>
      } @else {
      <span class="divider-node">
        X
        @if (divider !== 1) {
        <sup>
          {{ divider }}
        </sup>
        }
      </span>
      }
      @if (!last) {
      +
      }
      }
    </div>

    <div class="quotient" #receiverAnime>
      @for (quotient of receiverDivisionOp().quotient; track $index; let first = $first) {
      @if (quotient == 0) {
      <span class="quotient-node">
        1
      </span>
      } @else {
      <span class="quotient-node">
        @if (!first) {
        +
        }
        X
        @if (quotient !== 1) {
        <sup>
          {{ quotient }}
        </sup>
        }
      </span>
      }
      }
    </div>
  </div>
</div>

<div class="control-buttons">
  <button (click)="previousStep()">
    Previous
  </button>

  <button (click)="nextStep()">
    Next
  </button>
</div>
