<div id="input-data">
	<app-binary-data (binaryDataChange)="setSenderData($event)"></app-binary-data>
</div>

<div id="techniques">
	<button (click)="technique = 'ask'"> Amplitude Shift Keying (ASK) </button>
	<button (click)="technique = 'bfsk'"> Binary Frequency Shift Keying (BFSK) </button>
	<button (click)="technique = 'mfsk'"> Multiple Frequency Shift Keying (MFSK) </button>
	<button (click)="technique = 'bpsk'"> Binary Phase Shift Keying (BPSK) </button>
	<button (click)="technique = 'dpsk'"> Differential Phase Shift Keying (BPSK) </button>
</div>

<h1>
	@switch (technique) {
	@case ('ask') {
	Amplitude Shift Keying (ASK)
	}
	@case ('bfsk') {
	Binary Frequency Shift Keying (BFSK)
	}
	@case ('mfsk') {
	Multiple Frequency Shift Keying (MFSK)
	}
	@case ('bpsk') {
	Binary Phase Shift Keying (BPSK)
	}
	@case ('dpsk') {
	Differential Phase Shift Keying (BPSK)
	}
	}
</h1>

@switch (technique) {
@case ('ask') {
<p>
	Threshold: {{ threshold }}
</p>
<input type="range" min="0" max="5" step="0.01" value="2.5" (input)="setThreshold($event)">
<p>
	If the amplitude of the signal is greater than the threshold, the interpreted bit is 1, otherwise it is 0.
</p>

<div class="signal-container">
	<div class="cell-container">
		<div class="data-cell">
			<div class="signal-container">
				Sender
			</div>
		</div>
		@for (item of data(); track $index) {
		<div class="data-cell">
			<div class="bit">
				{{ data()[$index] }}
			</div>

			<div class="signal-container">
				<div class="top-left-dashed"></div>
				<div class="bottom-left-dashed"></div>

				<div class="left-analog-signal"></div>

				<svg width="140px" height="140px">
					<path stroke="blue" stroke-width="2" [attr.d]="askSender().signals[$index].signal"></path>
				</svg>
			</div>
		</div>
		}
	</div>

	<div class="cell-container">
		<div class="data-cell">
			<div class="signal-container">
				Receiver
			</div>
		</div>
		@for (item of data(); track $index) {
		<div class="data-cell">
			<div class="signal-container">
				<div class="top-left-dashed"></div>
				<div class="bottom-left-dashed"></div>

				<div class="left-analog-signal"></div>

				<svg width="140px" height="140px">
					<path [attr.d]="askReceiver().signals[$index].signal" stroke="blue" stroke-width="2"></path>
				</svg>
			</div>

			<div class="amplitudes">
				<input type="range" min="0" max="5" step="0.01" #signal
					[value]="askReceiver().signals[$index].amplitude.toString()" (input)="setAmplitude(signal, $index)">
				<p>
					Amplitude: {{ askReceiver().signals[$index].amplitude }}
				</p>
			</div>

			<div class="bit">
				{{ askReceiver().receiverData[$index] }}
			</div>
		</div>
		}
	</div>
</div>

<p>
	Interpreted data by receiver:
	@for (item of askReceiver().receiverData; track $index) {
	<span [style.color]="item === this.data()[$index] ? 'inherit' : 'red'"> {{ item }} </span>
	}
</p>

<p>
	In ASK, the two binary values are represented by two different amplitudes of the carrier
	frequency. Commonly, one of the amplitudes is zero; that is, one binary digit is represented by the
	presence, at constant amplitude, of the carrier, the other by the absence of the carrier. The resulting transmitted
	signal for one bit time is
</p>

<div id="ask-function">
	<table>
		<tr>
			<td [innerText]="'S(t) = {'">

			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				(A.cos(2.π.f<sub>c</sub>.t) )
			</td>
			<td>
				;
			</td>
			<td>
				binary 1
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				0
			</td>
			<td>
				;
			</td>
			<td>
				binary 0
			</td>

		</tr>
		<tr>
			<td [innerText]="'}'">

			</td>
		</tr>
	</table>
</div>

<p>
	where
</p>
<ul>
	<li>A: Amplitude of carrier signal</li>
	<li>f<sub>c</sub>: carrier frequency</li>
	<li> Carrier signal = A.cos(2.π.f.<sub>c</sub>.t) </li>
</ul>
<p>
	ASK is susceptible to sudden gain changes and is a rather inefficient modulation technique. On voicegrade lines, it
	is typically used only up to 1200 bps.
</p>
<p>
	The ASK technique is used to transmit digital data over optical fiber, where one signal element is
	represented by a light pulse while the other signal element is represented by the absence of light.
</p>

}
@case ('bfsk') {
<div>
	<p>
		Carrier Frequency: {{ this.bfskCarrier() }}
	</p>
	<input #bfskCarrierEl type="range" min="0" max="10000" step="100" [value]="bfskCarrier().toString()"
		(input)="setBfskCarrier(bfskCarrierEl)">
</div>

<div>
	<p>
		Offset: {{ bfskOffset() }}
	</p>
	<input #bfskOffsetEl type="range" min="0" max="10000" step="100" [value]="bfskOffset().toString()"
		(input)="setBfskOffset(bfskOffsetEl)">
</div>

<svg viewBox="0 0 300 50" class="bfsk-svg">
	<defs>
		<marker id='head' orient="auto" markerWidth='3' markerHeight='4' refX='0.1' refY='2'>
			<path d='M0,0 V4 L2,2 Z' fill="white" />
		</marker>
	</defs>

	<g stroke="white">
		<path id='x-axis' marker-end='url(#head)' stroke-width='1' d='M0,30, 250 30,120' />
		<path id='y-axis' marker-end='url(#head)' stroke-width='1' d='M3,35, 3 10,120' />
	</g>

	<text x="252" y="39" font-size="6" fill="white">Frequency (Hz)</text>

	<path stroke-width='1' fill='none' stroke='white' d='M3,35, 3 30,120' />
	<text x="2" y="40" font-size="7" fill="white">0</text>

	<path stroke-width='1' fill='none' stroke='white' d='M220,35, 220 30,120' />
	<text x="220" y="40" font-size="7" fill="white">10.000</text>

	<path stroke-width='1' fill='none' stroke='white'
		[attr.d]='"M" + bfskCarrierNormalized() + ", 35," + bfskCarrierNormalized() + " 30, 120"' />

	<path stroke-width='1' fill='none' stroke='white' [attr.d]='"M" + f1() + ", 35," + f1() + " 30, 120"' />

	<text y="25" font-size="7" fill="white" [attr.x]="f1()">
		f<tspan dy="2" font-size="4">1</tspan>
	</text>
	<text y="49" font-size="5" fill="white" [attr.x]="f1() - 5"> {{ bfskRange1() }}
	</text>

	<path stroke-width='1' fill='none' stroke='white' [attr.d]='"M" + f2() + ", 35," + f2() + " 30, 120"' />

	<text y="25" font-size="7" fill="white" [attr.x]="f2()">
		f<tspan dy="2" font-size="4">2</tspan>
	</text>
	<text y="49" font-size="5" fill="white" [attr.x]="f2() - 5"> {{ bfskCarrier() + bfskOffset() }}
	</text>

	<text y="25" font-size="7" fill="white" [attr.x]="bfskCarrierNormalized()">
		f<tspan dy="2" font-size="4">c</tspan>
	</text>
	<text y="49" font-size="5" fill="white" [attr.x]="bfskCarrierNormalized() - 5"> {{ bfskCarrier() }} </text>
</svg>

<p>
	If signal is between {{ bfskRange1() }} and {{ bfskCarrier() }} then interpreted bit is 1, if it is between {{
	bfskCarrier() + this.bfskOffset() }} and {{ bfskCarrier() }} then interpreted bit is 0.
</p>

<div class="signal-container">
	<div class="cell-container">
		<div class="data-cell">
			<div class="signal-container">
				Sender
			</div>
		</div>
		@for (item of data(); track $index) {
		<div class="data-cell">
			<div class="bit">
				{{ data()[$index] }}
			</div>

			<div class="signal-container">
				<div class="top-left-dashed"></div>
				<div class="bottom-left-dashed"></div>

				<div class="left-analog-signal"></div>

				<svg width="140px" height="140px">
					<path stroke="blue" stroke-width="2" [attr.d]="bfskSender().signals[$index].signal"></path>
				</svg>
			</div>
		</div>
		}
	</div>

	<div class="cell-container">
		<div class="data-cell">
			<div class="signal-container">
				Receiver
			</div>
		</div>
		@for (item of data(); track $index) {
		<div class="data-cell">


			<div class="signal-container">
				<div class="top-left-dashed"></div>
				<div class="bottom-left-dashed"></div>

				<div class="left-analog-signal"></div>

				<svg width="140px" height="140px">
					<path stroke="blue" stroke-width="2" [attr.d]="bfskReceiver().signals[$index].signal"></path>
				</svg>
			</div>

			<div class="amplitudes">
				<input type="range" min="0" max="10000" step="100" #signal
					[value]="bfskReceiver().signals[$index].frequency.toString()"
					(input)="setFrequency(signal, $index)">
				<p>
					f: {{ bfskReceiver().signals[$index].frequency }}
				</p>
			</div>

			<div class="bit">
				{{ bfskReceiver().receiverData[$index] }}
			</div>

		</div>
		}
	</div>
</div>

<p>
	The interpreted data by receiver: @for (item of bfskReceiver().receiverData; track $index) {
	<span [style.color]="item === this.data()[$index] ? 'inherit' : 'red'"> {{ item }} </span>
	}
</p>

<p>
	The most common form of FSK is binary FSK (BFSK), in which the two binary values are represented
	by two different frequencies near the carrier frequency (shown in Figure below) as
</p>

<div id="ask-function">
	<table>
		<tr>
			<td [innerText]="'S(t) = {'">

			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				(A.cos(2.π.f<sub>1</sub>.t) )
			</td>
			<td>
				;
			</td>
			<td>
				binary 1
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				(A.cos(2.π.f<sub>2</sub>.t) )
			</td>
			<td>
				;
			</td>
			<td>
				binary 0
			</td>

		</tr>
		<tr>
			<td [innerText]="'}'">

			</td>
		</tr>
	</table>
</div>

<p>
	where f<sub>1</sub>, f<sub>2</sub> offset from carrier frequency (fc) by equal but opposite amount
</p>
<p>
	BFSK is less susceptible to error than ASK. On voice-grade lines, it is typically used up to 1200
	bps. It is also commonly used for high-frequency (3 to 30 MHz) radio transmission. It can also be used
	at even higher frequencies on local area networks that use coaxial cable
</p>
}
@case ('mfsk') {
<p>
	A signal that is more bandwidth efficient, but also more susceptible to error, is multiple FSK (MFSK),
	in which more than two frequencies are used. In this case each signaling element represents more than
	one bit. The transmitted MFSK signal for one signal element time can be represented as;
</p>

<p>
	S(t) = A.cos(2.π.f<sub>i</sub>.t) 1 ≤ i ≤ M
</p>
<p>
	where
</p>
<p>
	f<sub>i</sub>: f<sub>c</sub> + (2<sub>i</sub> - 1 - M)f<sub>d</sub>
</p>
<p>
	f<sub>c</sub>: Carrier frequency
</p>
<p>
	f<sub>d</sub>: Difference frequency
</p>
<p>
	M: Number of different signal elements = 2<sup>L</sup>
</p>
<p>
	L = Number of bits per signal element
</p>

<div>
	<label for="mfsk-carrier"> Carrier Frequency (f<sub>c</sub>): </label>
	<app-decimal-data id="mfsk-carrier" placeholder="Carrier Frequency (fc)"
		[(decimalData)]="mfskCarrier"></app-decimal-data>
</div>

<div>
	<label for="mfsk-diff"> Difference Frequency (f<sub>d</sub>): </label>
	<app-decimal-data id="mfsk-diff" placeholder="Difference Frequency (fd)"
		[(decimalData)]="mfskDiff"></app-decimal-data>
</div>

<div>
	<label for="mfsk-bit-number"> Number of Bits (L): </label>
	<app-decimal-data id="mfsk-bit-number" placeholder="Number of Bits (L)"
		[(decimalData)]="numberOfBits"></app-decimal-data>
</div>

@if (negativeFrequency()) {
<p style="color: red;">
	Since there are zero or negative frequencies, the signal is not real. You may increase the carrier frequency or
	decrease
	the difference frequency or decrease the number of bits to make the signal real.
</p>
}

<p>
	We have the frequencies for every combination of bits as follows:
</p>

<div id="mfsk-visual">
	<svg [attr.width]="mfskVisualRes() + 'px'" [attr.height]="mfskVisualRes() + 'px'">
		<marker id='head' orient="auto" markerWidth='3' markerHeight='4' refX='0.1' refY='2'>
			<path d='M0,0 V4 L2,2 Z' fill="white" />
		</marker>

		<text x="110px" y="10px" font-size="12" fill="white">Frequency (Hz)</text>

		<path id='y-axis' marker-end='url(#head)' stroke-width='4' stroke='white' [attr.d]="mfskYAxis()" />
		<path id='x-axis' marker-end='url(#head)' stroke-width='4' stroke='white' [attr.d]="mfskXAxis()" />
		<text [attr.x]="mfskVisualRes() - 120" [attr.y]="mfskVisualRes() - 10" font-size="12" fill="white">
			Data Combinations
		</text>

		@for (item of combinations(); track $index) {
		<text x="10px" [attr.y]="75 * ($index + 1) - 40 + 'px'" font-size="12" fill="white">
			f<tspan>
				{{combinations().length - $index}}:
			</tspan>
			{{ combinations()[combinations().length - $index - 1].frequency }}
		</text>
		}

		@for (item of combinations(); track $index) {
		<line [attr.x1]="100 + xIntervals() * $index" [attr.y1]="75 * ($index + 1) - 40"
			[attr.x2]="100 + xIntervals() * $index + xIntervals()" [attr.y2]="75 * ($index + 1) - 40"
			style="stroke:red;stroke-width:2" />

		<line stroke-dasharray="10,5" style="stroke:gray;stroke-width:2" x1="100" [attr.y1]="75 * ($index + 1) - 40"
			[attr.x2]="100 + xIntervals() * $index" [attr.y2]="75 * ($index + 1) - 40" />

		<line stroke-dasharray="10,5" style="stroke:gray;stroke-width:2"
			[attr.x1]="100 + xIntervals() * $index + xIntervals()" [attr.y1]="75 * ($index + 1) - 40"
			[attr.x2]="mfskVisualRes() + xIntervals()" [attr.y2]="75 * ($index + 1) - 40" />

		<text [attr.x]="120 + xIntervals() * $index" [attr.y]="75 * ($index + 1) - 40 + 'px'" font-size="12"
			fill="white"> {{ combinations()[combinations().length - $index - 1].data }} </text>

		<line stroke-dasharray="10,5" [attr.x1]="100 + xIntervals() * $index + xIntervals()" y1="10"
			[attr.x2]="100 + xIntervals() * $index + xIntervals()" [attr.y2]="this.mfskVisualRes() - 40"
			style="stroke:gray;stroke-width:2" />
		}
	</svg>
</div>

<div class="mfsk-table">
	<table>
		<tr>
			<td class="table-head"> <b> Sender Data </b> </td>
			@for (item of partialData(); track $index) {
			<td>{{ item.partial }}</td>
			}
		</tr>

		<tr>
			<td class="table-head"> <b> Frequency Sent by Sender </b> </td>
			@for (item of partialData(); track $index) {
			<td>{{ combinations()[item.index].frequency }}</td>
			}
		</tr>

		<tr>
			<td class="table-head"> <b> Receiver Frequency </b> </td>
			@for (item of mfskReceiver; track $index) {
			<td>{{ item.frequency }}</td>
			}
		</tr>

		<tr>
			<td class="table-head"> </td>
			@for (item of mfskReceiver; track $index) {
			<td>
				<input type="range" step="10" min="0" [max]="combinations()[combinations().length - 1].frequency + 1000"
					[value]="item.frequency" (input)="setMfskReceiverFrequency($event, $index)">
			</td>
			}
		</tr>

		<tr>
			<td class="table-head"> <b> Data Interpreted by Receiver </b> </td>
			@for (item of mfskReceiver; track $index) {
			<td [style.color]="item.partial === partialData()[$index].partial ? 'inherit' : 'red'">{{ item.partial }}
			</td>
			}
		</tr>
	</table>
</div>

}
@case ('bpsk') {
<div class="signal-container">
	<div class="cell-container">
		<div class="data-cell">
			<div class="signal-container">
				Sender
			</div>
		</div>
		@for (item of data(); track $index) {
		<div class="data-cell">
			<div class="bit">
				{{ data()[$index] }}
			</div>

			<div class="signal-container">
				<div class="top-left-dashed"></div>
				<div class="bottom-left-dashed"></div>

				<div class="left-analog-signal"></div>

				<svg width="140px" height="140px">
					<path [attr.d]="bpsk()[$index]" stroke="blue" stroke-width="2"></path>
				</svg>
			</div>
		</div>
		}
	</div>
	<div class="cell-container">
		<div class="data-cell">
			<div class="signal-container">
				Receiver
			</div>
		</div>
		@for (item of data(); track $index) {
		<div class="data-cell">

			<div class="signal-container">
				<div class="top-left-dashed"></div>
				<div class="bottom-left-dashed"></div>

				<div class="left-analog-signal"></div>

				<svg width="140px" height="140px" (click)="setBpskSignal($index)">
					<path [attr.d]="bpskReceiver[$index].signal" stroke="blue" stroke-width="2"></path>
				</svg>
			</div>

			<div class="bit">
				{{ bpskReceiver[$index].bit }}
			</div>
		</div>
		}
	</div>
</div>

<p>
	In PSK, the phase of the carrier signal is shifted to represent data. The simplest scheme uses two
	phases to represent the two binary digits (Figure below) and is known as binary phase shift keying.
	The resulting transmitted signal for one bit time is
</p>

<div id="ask-function">
	<table>
		<tr>
			<td [innerText]="'S(t) = {'">

			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				A.cos(2.π.f<sub>c</sub>.t + π)
			</td>
			<td>
				;
			</td>
			<td>
				binary 1
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				A.cos(2.π.f<sub>c</sub>.t π) = -A.cos(2.π.f<sub>c</sub>.t π)
			</td>
			<td>
				;
			</td>
			<td>
				binary 0
			</td>

		</tr>
		<tr>
			<td [innerText]="'}'">

			</td>
		</tr>
	</table>
</div>

<p>
	Because a phase shift of 180<sup>o</sup> (π) is equivelent to flipping the sine wave or multiplying it by -1
	Acos(2.π.f<sub>c</sub>.t+ π) = -Acos(2.π.f<sub>c</sub>.t) can be used instead.
</p>
}
@case ('dpsk') {
<div class="signal-container">
	<div class="cell-container">
		<div class="data-cell">
			<div class="signal-container">
				Sender
			</div>
		</div>
		@for (item of data(); track $index) {
		<div class="data-cell">
			<div class="bit">
				{{ data()[$index] }}
			</div>

			<div class="signal-container">
				<div class="top-left-dashed"></div>
				<div class="bottom-left-dashed"></div>

				<div class="left-analog-signal"></div>

				<svg width="140px" height="140px">
					<path [attr.d]="dpsk()[$index]" stroke="blue" stroke-width="2"></path>
				</svg>
			</div>
		</div>
		}
	</div>
	<div class="cell-container">
		<div class="data-cell">
			<div class="signal-container">
				Receiver
			</div>
		</div>
		@for (item of data(); track $index) {
		<div class="data-cell">

			<div class="signal-container">
				<div class="top-left-dashed"></div>
				<div class="bottom-left-dashed"></div>

				<div class="left-analog-signal"></div>

				<svg width="140px" height="140px" (click)="setDPSKSignal($index)">
					<path [attr.d]="dpskReceiver[$index].signal" stroke="blue" stroke-width="2"></path>
				</svg>
			</div>

			<div class="bit">
				{{ dpskReceiver[$index].bit }}
			</div>
		</div>
		}
	</div>
</div>

<p>
	An alternative form of two-level PSK is differential PSK (DPSK). In this scheme
</p>

<ul>
	<li> Binary 0 : Sending a signal burst of the same phase as the previous signal burst sent. </li>
	<li> Binary 0 : Sending a signal burst of the same phase as the previous signal burst sent. </li>
</ul>
}
}
