<div class="user-input">
	<span> Bits per period </span>
	<app-decimal-data [(decimalData)]="bitsPerPeriod"></app-decimal-data>
</div>

<div class="user-input">
	<span> Maximum magnitude </span>
	<app-decimal-data [(decimalData)]="magnitude"></app-decimal-data>
</div>

<p>
	You can use the mouse to drag the blue control points to change the signal. The blue line represents the signal.
</p>

<div class="svg-container" (mouseleave)="onMouseUp()">
		<svg
			#constChartEl
			[attr.width]="constChart.svgWidth()"
			[attr.height]="constChart.svgHeight()"
			(mousemove)="onMouseMove($event)"
			(mouseup)="constChart.selectedPointIndex = -1"
			(mouseleave)="constChart.selectedPointIndex = -1"
			(touchend)="constChart.selectedPointIndex = -1"
			(touchmove)="onTouchMove($event)">
			<g stroke="white">

				<g stroke-width="4">
					<!--y-axis-->
					<line
						[attr.x1]="constChart.coordXStart"
						[attr.x2]="constChart.coordXStart"
						[attr.y1]="constChart.coordYStart"
						[attr.y2]="constChart.coordYEnd()"
					/>

					<line
						[attr.y1]="constChart.coordYStart"
						[attr.x1]="constChart.coordXEnd()"
						[attr.x2]="constChart.coordXEnd()"
						[attr.y2]="constChart.coordYEnd()"
					/>
					<!--x-axis-->
					<line
						[attr.x1]="constChart.coordXStart"
						[attr.y1]="constChart.coordYStart"
						[attr.x2]="constChart.coordXEnd()"
						[attr.y2]="constChart.coordYStart"
					/>
					<line
						[attr.x1]="constChart.coordXStart"
						[attr.y1]="constChart.coordYEnd()"
						[attr.x2]="constChart.coordXEnd()"
						[attr.y2]="constChart.coordYEnd()"
					/>
				</g>

				<g fill="white">
					<text font-size="15" y="40" [attr.x]="constChart.coordXEnd() - 50"> Magnitude </text>
					<text font-size="10" [attr.x]="constChart.coordXEnd() + 10" [attr.y]="constChart.coordYStart">
						{{ magnitude() }}
					</text>
					<text font-size="10" [attr.x]="constChart.coordXEnd() + 10" [attr.y]="constChart.coordYEnd()">
						0
					</text>
				</g>

				<g stroke-width="2">
					<line
						[attr.x1]="constChart.coordXEnd()"
						[attr.y1]="constChart.coordYStart"
						[attr.x2]="constChart.coordXEnd() + 8"
						[attr.y2]="constChart.coordYStart"
					/>

					<line
						[attr.x1]="constChart.coordXEnd()"
						[attr.y1]="constChart.coordYEnd()"
						[attr.x2]="constChart.coordXEnd() + 8"
						[attr.y2]="constChart.coordYEnd()" />

					<path stroke="blue" [attr.d]="constChart.bezierPath()"></path>

					@for (item of constChart.signalCoords; track $index; let first = $first, last = $last) {
						@if (!$first && !$last) {
						<line stroke="gray"
							[attr.x1]="item.endX"
							[attr.y1]="item.endY"
							[attr.x2]="item.endX"
							[attr.y2]="constChart.coordYEnd()"
						/>
						}
					}
				</g>
			</g>

			@for (item of constChart.signalCoords; track $index) {
				<circle r="10" fill="blue"
					[attr.cx]="item.endX"
					[attr.cy]="item.endY"
					(mousedown)="constChart.selectedPointIndex = $index"
					(touchstart)="constChart.selectedPointIndex = $index"
				/>
			}

			@for (item of constChart.signalCoords; track $index; let last = $last) {
				<text fill="white" font-size="10"
					[attr.x]="item.endX - 10"
					[attr.y]="item.endY - 10">
					{{ constChart.normalizeValues()[$index].toFixed(1) }}
				</text>
			}

			<g stroke-width="2" stroke="blue">
				<line
					[attr.x1]="constChart.signalCoords[0].endX"
					[attr.y1]="constChart.coordYEnd() + 10"
					[attr.x2]="constChart.signalCoords[0].endX"
					[attr.y2]="constChart.svgHeight()"
				/>

				<line
					[attr.x1]="constChart.signalCoords[1].endX"
					[attr.y1]="constChart.coordYEnd() + 10"
					[attr.x2]="constChart.signalCoords[1].endX"
					[attr.y2]="constChart.svgHeight()"
				/>
			</g>

			<defs>
				<marker id='head' orient="auto" markerWidth='3' markerHeight='4' refX='0.1' refY='2'>
					<path d='M0,0 V4 L2,2 Z' fill="blue" />
				</marker>
			</defs>

			<line stroke-width="2" stroke="blue"
				[attr.x1]="constChart.signalCoords[0].endX"
				[attr.y1]="constChart.coordYEnd() + 20"
				[attr.x2]="constChart.signalCoords[1].endX"
				[attr.y2]="constChart.coordYEnd() + 20"
			/>

			<text [attr.x]="constChart.signalCoords[0].endX + 10" [attr.y]="constChart.coordYEnd() + 40" fill="white" font-size="10">
				T<tspan>s</tspan> = 1 / (2B) </text>

			<path id='arrow-line' marker-end='url(#head)' stroke-width='4' fill='none' stroke='blue'
				[attr.d]="constChart.timeText()" />

			<text [attr.x]="constChart.coordXEnd() - 50" [attr.y]="constChart.coordYEnd() + 50" fill="blue">
				time
			</text>
		</svg>
</div>

<div class="svg-container" (mouseleave)="onMouseUp()">
		<svg
			#scalableChartEl
			[attr.width]="scalableChart.svgWidth()"
			[attr.height]="scalableChart.svgHeight()">
			<g stroke="white">
				<!--y-axis-->
				<line stroke-width="4"
				[attr.x1]="scalableChart.coordXStart"
				[attr.x2]="scalableChart.coordXStart"
				[attr.y1]="scalableChart.coordYStart"
				[attr.y2]="scalableChart.coordYEnd()" />

				<line stroke-width="4"
				[attr.y1]="scalableChart.coordYStart"
				[attr.x1]="scalableChart.coordXEnd()"
				[attr.x2]="scalableChart.coordXEnd()"
				[attr.y2]="scalableChart.coordYEnd()" />
				<!--x-axis-->
				<line stroke-width="3"
				[attr.x1]="scalableChart.coordXStart"
				[attr.y1]="scalableChart.coordYStart"
				[attr.y2]="scalableChart.coordYStart"
				[attr.x2]="scalableChart.coordXEnd()" />

				<line stroke-width="5"
				[attr.x1]="scalableChart.coordXStart"
				[attr.y1]="scalableChart.coordYEnd()"
				[attr.x2]="scalableChart.coordXEnd()"
				[attr.y2]="scalableChart.coordYEnd()" />

				<text x="0" y="20" fill="white" font-size="15"> Code </text>
				<text x="0" y="40" fill="white" font-size="15"> Number </text>

				<text fill="white" font-size="15" y="20"
					[attr.x]="scalableChart.coordXEnd() - 50"> Normalized 
				</text>
				<text fill="white" font-size="15" y="40"
					[attr.x]="scalableChart.coordXEnd() - 50"> Magnitude 
				</text>

				@for (item of scalableCodeNumberCoords(); track $index) {
				<!--Code Numbers-->
				<line stroke-width="2"
					[attr.x1]="scalableChart.coordXStart - 8"
					[attr.x2]="scalableChart.coordXStart"
					[attr.y1]="item"
					[attr.y2]="item"></line>

				<text fill="white" font-size="10" x="0" [attr.y]="item">
					{{ scalableCodeNumberCoords().length - $index - 1 }}</text>
				}

				@for (item of scalableMagnitudeCoords(); track $index) {
				<line stroke-width="2" [attr.x1]="scalableChart.coordXEnd()" [attr.y1]="item" [attr.x2]="scalableChart.coordXEnd() + 8"
					[attr.y2]="item"></line>

				<text fill="white" font-size="10" [attr.x]="scalableChart.coordXEnd() + 10" [attr.y]="item">
					{{ scalableMagnitudeCoords().length - $index - 1 }}</text>
				}
			</g>

			<path stroke="blue" stroke-width="2" [attr.d]="scalableChart.bezierPath()"></path>

			@for (item of scalableChart.signalCoords; track $index; let first = $first, last = $last) {
				@if (!first && !last) {
					<line stroke-width="2" stroke="gray"
						[attr.x1]="item.endX"
						[attr.y1]="item.endY"
						[attr.x2]="item.endX"
						[attr.y2]="scalableChart.coordYEnd()"
					/>
				}
			}

			@for (item of scalableChart.recalcSignalCoords(); track $index) {
				<circle r="10" fill="blue"
					[attr.cx]="item.endX"
					[attr.cy]="item.endY"
				/>
			}

			@for (item of scalableChart.recalcSignalCoords(); track $index; let last = $last) {
				<text fill="white" font-size="10"
					[attr.x]="item.endX - 10"
					[attr.y]="item.endY - 10">
					{{ scalableChart.normalizeValues()[$index].toFixed(1) }}
				</text>
			}

			@for (item of scalableCodeNumberCoords(); track $index; let first = $first , last = $last) {
				<line stroke-width="2" stroke-dasharray="5,5" stroke="gray"
					[attr.x1]="scalableChart.coordXStart"
					[attr.y1]="item"
					[attr.x2]="scalableChart.coordXEnd()" [attr.y2]="item"
				/>
			}

			@for (item of scalableChart.recalcSignalCoords(); track $index) {
				<text fill="white" font-size="10"
					[attr.x]="item.endX - 10"
					[attr.y]="item.endY - 10">
					<!--{{ (dataLevels() - normalizedValues()[$index + 1]).toFixed(1) }}-->
				</text>
			}

			<line stroke-width="2" stroke="blue"
				[attr.x1]="scalableChart.recalcSignalCoords()[0].endX"
				[attr.y1]="scalableChart.coordYEnd() + 10"
				[attr.x2]="scalableChart.recalcSignalCoords()[0].endX"
				[attr.y2]="scalableChart.svgHeight()"
			/>

			<line stroke-width="2" stroke="blue"
				[attr.x1]="scalableChart.recalcSignalCoords()[1].endX"
				[attr.y1]="scalableChart.coordYEnd() + 10"
				[attr.x2]="scalableChart.recalcSignalCoords()[1].endX"
				[attr.y2]="scalableChart.svgHeight()"
			/>

			<defs>
				<marker id='head' orient="auto" markerWidth='3' markerHeight='4' refX='0.1' refY='2'>
					<path d='M0,0 V4 L2,2 Z' fill="blue" />
				</marker>
			</defs>

			<line stroke-width="2" stroke="blue"
				[attr.x1]="scalableChart.recalcSignalCoords()[0].endX"
				[attr.y1]="scalableChart.coordYEnd() + 20"
				[attr.x2]="scalableChart.recalcSignalCoords()[1].endX"
				[attr.y2]="scalableChart.coordYEnd() + 20"></line>

			<text fill="white" font-size="10"
				[attr.x]="scalableChart.recalcSignalCoords()[0].endX + 10"
				[attr.y]="scalableChart.coordYEnd() + 40">
				T<tspan>s</tspan> = 1 / (2B) 
			</text>

			<path id='arrow-line' marker-end='url(#head)' stroke-width='4' fill='none' stroke='blue'
				[attr.d]="scalableChart.timeText()" />

			<text [attr.x]="scalableChart.coordXEnd() - 50" [attr.y]="scalableChart.coordYEnd() + 50" fill="blue">
				time
			</text>
		</svg>
</div>

<div id="values">
	<table>
		<tr>
			<td> Pam Value </td>

			@for (item of scalableChart.normalizeValues(); track $index; let last = $last) {
			@if (!last) {
			<td>
				{{ item.toFixed(1) }}
			</td>
			}
			}
		</tr>

		<tr>
			<td> Quantized code number </td>

			@for (item of scalableChart.normalizeValues(); track $index; let last = $last) {
			@if (!last) {
			<td>
				{{ floorValue(item).toFixed(0) }}
			</td>
			}
			}
		</tr>

		<tr>
			<td>
				PCM Code
			</td>

			@for (item of scalableChart.normalizeValues(); track $index; let last = $last) {
			@if (!last) {
				@if (floorValue(item) === dataLevels()) {
					<td>
						{{ pcmCodes()[floorValue(item) - 1] }}
					</td>
				} @else {
					<td>
						{{ pcmCodes()[floorValue(item)] }}
					</td>
				}
			}
			}
		</tr>
	</table>
</div>

<p>
	In the chart below, you can see the result of the digital signal you will enter.
</p>


<div class="user-input">
	<span> Bits per period </span>
	<app-decimal-data [(decimalData)]="toAnalogBitsPerPeriod"></app-decimal-data>
</div>

<div class="user-input">
	<span> Binary data </span>
	<app-binary-data [(binaryData)]="toAnalogData"></app-binary-data>
</div>

<div class="svg-container" (mouseleave)="onMouseUp()">
	<svg
		#toAnalogChartEl
		[attr.width]="toAnalogChart.svgWidth()"
		[attr.height]="toAnalogChart.svgHeight()">
		<g stroke="white">
			<!--y-axis-->
			<line stroke-width="4"
			[attr.x1]="toAnalogChart.coordXStart"
			[attr.x2]="toAnalogChart.coordXStart"
			[attr.y1]="toAnalogChart.coordYStart"
			[attr.y2]="toAnalogChart.coordYEnd()" />

			<line stroke-width="4"
			[attr.y1]="toAnalogChart.coordYStart"
			[attr.x1]="toAnalogChart.coordXEnd()"
			[attr.x2]="toAnalogChart.coordXEnd()"
			[attr.y2]="toAnalogChart.coordYEnd()" />
			<!--x-axis-->
			<line stroke-width="3"
			[attr.x1]="toAnalogChart.coordXStart"
			[attr.y1]="toAnalogChart.coordYStart"
			[attr.y2]="toAnalogChart.coordYStart"
			[attr.x2]="toAnalogChart.coordXEnd()" />

			<line stroke-width="5"
			[attr.x1]="toAnalogChart.coordXStart"
			[attr.y1]="toAnalogChart.coordYEnd()"
			[attr.x2]="toAnalogChart.coordXEnd()"
			[attr.y2]="toAnalogChart.coordYEnd()" />

			<text x="0" y="20" fill="white" font-size="15"> Code </text>
			<text x="0" y="40" fill="white" font-size="15"> Number </text>

			<text fill="white" font-size="15" y="20"
				[attr.x]="toAnalogChart.coordXEnd() - 50"> Normalized 
			</text>
			<text fill="white" font-size="15" y="40"
				[attr.x]="toAnalogChart.coordXEnd() - 50"> Magnitude 
			</text>

			@for (item of toAnalogCodeNumberCoords(); track $index) {
			<!--Code Numbers-->
			<line stroke-width="2"
				[attr.x1]="toAnalogChart.coordXStart - 8"
				[attr.x2]="toAnalogChart.coordXStart"
				[attr.y1]="item"
				[attr.y2]="item"></line>

			<text fill="white" font-size="10" x="0" [attr.y]="item">
				{{ toAnalogCodeNumberCoords().length - $index - 1 }}</text>
			}

			@for (item of toAnalogMagnitudeCoords(); track $index) {
			<line stroke-width="2" [attr.x1]="toAnalogChart.coordXEnd()" [attr.y1]="item" [attr.x2]="toAnalogChart.coordXEnd() + 8"
				[attr.y2]="item"></line>

			<text fill="white" font-size="10" [attr.x]="toAnalogChart.coordXEnd() + 10" [attr.y]="item">
				{{ toAnalogMagnitudeCoords().length - $index - 1 }}</text>
			}
		</g>

		<path stroke="blue" stroke-width="2" [attr.d]="toAnalogChart.bezierPath()"></path>

		@for (item of toAnalogChart.recalcSignalCoords(); track $index; let first = $first, last = $last) {
			@if (!first && !last) {
				<line stroke-width="2" stroke="gray"
					[attr.x1]="item.endX"
					[attr.y1]="item.endY"
					[attr.x2]="item.endX"
					[attr.y2]="toAnalogChart.coordYEnd()"
				/>
			}
		}

		@for (item of calcAnalogData(); track $index) {
			<circle r="10" fill="blue"
				[attr.cx]="item.endX"
				[attr.cy]="item.endY"
			/>
		}

		@for (item of toAnalogChart.recalcSignalCoords(); track $index; let last = $last) {
			<text fill="white" font-size="10"
				[attr.x]="item.endX - 10"
				[attr.y]="item.endY - 10">
				{{ toAnalogChart.normalizeValues()[$index].toFixed(1) }}
			</text>
		}

		@for (item of toAnalogCodeNumberCoords(); track $index; let first = $first , last = $last) {
			<line stroke-width="2" stroke-dasharray="5,5" stroke="gray"
				[attr.x1]="toAnalogChart.coordXStart"
				[attr.y1]="item"
				[attr.x2]="toAnalogChart.coordXEnd()" [attr.y2]="item"
			/>
		}

		<line stroke-width="2" stroke="blue"
			[attr.x1]="toAnalogChart.recalcSignalCoords()[0].endX"
			[attr.y1]="toAnalogChart.coordYEnd() + 10"
			[attr.x2]="toAnalogChart.recalcSignalCoords()[0].endX"
			[attr.y2]="toAnalogChart.svgHeight()"
		/>

		<line stroke-width="2" stroke="blue"
			[attr.x1]="toAnalogChart.recalcSignalCoords()[1].endX"
			[attr.y1]="toAnalogChart.coordYEnd() + 10"
			[attr.x2]="toAnalogChart.recalcSignalCoords()[1].endX"
			[attr.y2]="toAnalogChart.svgHeight()"
		/>

		<defs>
			<marker id='head' orient="auto" markerWidth='3' markerHeight='4' refX='0.1' refY='2'>
				<path d='M0,0 V4 L2,2 Z' fill="blue" />
			</marker>
		</defs>

		<line stroke-width="2" stroke="blue"
			[attr.x1]="toAnalogChart.recalcSignalCoords()[0].endX"
			[attr.y1]="toAnalogChart.coordYEnd() + 20"
			[attr.x2]="toAnalogChart.recalcSignalCoords()[1].endX"
			[attr.y2]="toAnalogChart.coordYEnd() + 20"></line>

		<text fill="white" font-size="10"
			[attr.x]="toAnalogChart.recalcSignalCoords()[0].endX + 10"
			[attr.y]="toAnalogChart.coordYEnd() + 40">
			T<tspan>s</tspan> = 1 / (2B) 
		</text>

		<path id='arrow-line' marker-end='url(#head)' stroke-width='4' fill='none' stroke='blue'
			[attr.d]="toAnalogChart.timeText()" />

		<text [attr.x]="toAnalogChart.coordXEnd() - 50" [attr.y]="toAnalogChart.coordYEnd() + 50" fill="blue">
			time
		</text>
	</svg>
</div>
