:host {
	position: fixed;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 100%;
	font-size: 1rem;
	margin: var(--margin-s);
}

p {
	margin: var(--margin-s) 0;
	position: relative;
}

.warning {
	background-color: #E0115F;
}

.info {
	background-color: #629fed;
}

.success {
	background-color:  	#7cb46b;
}

.close-message {
	position: fixed;
	right: 20px;
	z-index: 5;
	cursor: pointer;
}
