<h3>Sender</h3>

<div class="cell-container">
	@for (item of senderData(); track $index; let first = $first) {
	<div class="data-cell">
		<div class="bit">
			{{ data()[$index] }}
		</div>

		<div class="signal-container">
			<div class="top-left-dashed"></div>
			<div class="bottom-left-dashed"></div>

			<div class="left-signal" [style]="leftVerticalStyle($index, senderSignal)"></div>

			<div class="top-signal" [style]="topSignalStyle($index, senderSignal)"></div>
			<div class="bottom-signal" [style]="bottomSignalStyle($index, senderSignal)"></div>
		</div>
	</div>
	}
</div>

<h3>Receiver</h3>

<div class="cell-container">
	@for (item of receiverSignal; track $index; let first = $first) {
	<div class="data-cell">
		<div class="signal-container">
			<div class="top-left-dashed"></div>
			<div class="bottom-left-dashed"></div>

			<div class="left-signal" [style]="leftVerticalStyle($index, receiverSignal)"></div>

			<div #topSignal class="top-signal" [style]="topSignalStyle($index, receiverSignal)"
				(click)="toggleSignal($index)" (mouseenter)="highlightTop(item, topSignal)"
				(mouseleave)="dehighlightTop(item, topSignal)"></div>

			<div #bottomSignal class="bottom-signal" [style]="bottomSignalStyle($index, receiverSignal)"
				(click)="toggleSignal($index)" (mouseenter)="highlightBottom(item, bottomSignal)"
				(mouseleave)="dehighlightBottom(item, bottomSignal)"></div>
		</div>

		<div class="bit">
			{{ receiverData[$index] }}
		</div>
	</div>
	}
</div>
