<div class="cell-container">
	@for (item of senderData(); track $index) {
	<div class="data-cell">
		<div class="bit">
			{{ data()[$index] }}
		</div>

		<div class="signal-container">
			<div class="top-left-dashed"></div>
			<div class="bottom-left-dashed"></div>

			<div class="left-top" [style]="topLeftStyle($index, senderSignal)"></div>
			<div class="left-bottom" [style]="bottomLeftStyle($index, senderSignal)"></div>
			<div class="top-signal" [style]="topSignalStyle($index, senderSignal)"></div>
			<div class="center-signal" [style]="centerSignalStyle($index, senderSignal)"></div>
			<div class="bottom-signal" [style]="bottomSignalStyle($index, senderSignal)"></div>
		</div>
	</div>
	}
</div>

<div class="cell-container">
	@for (item of receiverData; track $index) {
	<div class="data-cell">
		<div class="signal-container">
			<div class="top-left-dashed"></div>
			<div class="bottom-left-dashed"></div>

			<div class="left-top" [style]="topLeftStyle($index, receiverSignal)"></div>
			<div class="left-bottom" [style]="bottomLeftStyle($index, receiverSignal)"></div>

			<div #topSignal class="top-signal" [style]="topSignalStyle($index, receiverSignal)"
				(mouseenter)="highlightSignal(topSignal)" (mouseleave)="dehighlightSignal(topSignal)"
				(click)="activateTopSignal($index)"></div>

			<div #centerSignal class="center-signal" [style]="centerSignalStyle($index, receiverSignal)"
				(mouseenter)="highlightSignal(centerSignal)" (mouseleave)="dehighlightSignal(centerSignal)" (click)="activateCenterSignal($index)"></div>

			<div #bottomSignal class="bottom-signal" [style]="bottomSignalStyle($index, receiverSignal)"
				(mouseenter)="highlightSignal(bottomSignal)" (mouseleave)="dehighlightSignal(bottomSignal)"
				(click)="activateBottomSignal($index)"></div>
		</div>

		<div class="bit">
			{{ receiverData[$index] }}
		</div>
	</div>
	}
</div>
