<button (click)="applyScrambling('b8zs')" [style.background-color]="scrambling === 'b8zs' ? 'green' : 'inherit'">
	Apply B8ZS
</button>

<button (click)="applyScrambling('hdb3')" [style.background-color]="scrambling === 'hdb3' ? 'green' : 'inherit'">
	Apply HDB3
</button>

@if (scrambling === 'hdb3') {
	<p>
		To be able to apply HDB3, we need to know if the number of the 1 bits before the data you entered were even or odd and if the last 1 bit was positive or negative. Please enter the information below.
	</p>

	<span> Number of 1 bits were: </span> 
	<button (click)="setPreviousShiftNumber(true)" [style.background-color]="previousShiftNumber ? 'green' : 'inherit'"> Even </button>
	<button (click)="setPreviousShiftNumber(false)" [style.background-color]="!previousShiftNumber ? 'green' : 'inherit'"> Odd </button>

	<span> Last 1 bit was: </span> 
	<button (click)="setLastShift(true)" [style.background-color]="hdb3LastShift === 0 ? 'green' : 'inherit'"> Positive </button>
	<button (click)="setLastShift(false)" [style.background-color]="hdb3LastShift === 2 ? 'green' : 'inherit'"> Negative </button>
}

<h3>Sender</h3>

<div class="cell-container">
		@for (item of senderData(); track $index) {
		<div class="data-cell">
			<div class="bit">
				{{ data()[$index] }}
			</div>
	
			<div class="signal-container">
				<div class="top-left-dashed"></div>
				<div class="bottom-left-dashed"></div>
	
				<div class="left-top" [style]="verticalStyle($index, senderSignal, true)"></div>
				<div class="left-bottom" [style]="verticalStyle($index, senderSignal, false)"></div>
				<div class="top-signal" [style]="topSignalStyle($index, senderSignal)"></div>
				<div class="center-signal" [style]="centerSignalStyle($index, senderSignal)"></div>
				<div class="bottom-signal" [style]="bottomSignalStyle($index, senderSignal)"></div>

				@if (scramblingLettersSender[$index] !== 'N') {
					@if (scrambling === 'b8zs') {
						<div class="scrambling-letter">
							{{ scramblingLettersSender[$index] }}
						</div>
					}
					@else if (scrambling === 'hdb3') {
						<div class="scrambling-letter">
							{{ scramblingLettersSender[$index] }}
						</div>
					}
				}
			</div>
		</div>
		}
</div>

<h3>Receiver</h3>

<div class="cell-container">
	@for (item of receiverData; track $index) {
	<div class="data-cell">
		<div class="signal-container">
			<div class="top-left-dashed"></div>
			<div class="bottom-left-dashed"></div>

			<div class="left-top" [style]="verticalStyle($index, receiverSignal, true)"></div>
			<div class="left-bottom" [style]="verticalStyle($index, receiverSignal, false)"></div>

			<div #topSignal class="top-signal" [style]="topSignalStyle($index, receiverSignal)"
				(mouseenter)="highlightSignal(topSignal)" (mouseleave)="dehighlightSignal(topSignal)"
				(click)="activateSignal($index, topSignal)"></div>

			<div #centerSignal class="center-signal" [style]="centerSignalStyle($index, receiverSignal)"
				(mouseenter)="highlightSignal(centerSignal)" (mouseleave)="dehighlightSignal(centerSignal)" (click)="activateSignal($index, centerSignal)"></div>

			<div #bottomSignal class="bottom-signal" [style]="bottomSignalStyle($index, receiverSignal)"
				(mouseenter)="highlightSignal(bottomSignal)" (mouseleave)="dehighlightSignal(bottomSignal)"
				(click)="activateSignal($index, bottomSignal)"></div>

				@if (scramblingLettersReceiver[$index] !== 'N') {
					@if (scrambling === 'b8zs') {
						<div class="scrambling-letter">
							{{ scramblingLettersReceiver[$index] }}
						</div>
					}
					@else if (scrambling === 'hdb3') {
						<div class="scrambling-letter">
							{{ scramblingLettersReceiver[$index] }}
						</div>
					}
				}
		</div>

		<div class="bit">
			{{ receiverData[$index] }}
		</div>
	</div>
	}
</div>
