<svg viewBox="0 0 125 100" width="40%" #svg>
	<!-- Sender side -->
	<text x="10" y="10" fill="white" font-size="5" text-anchor="middle">Sender</text>
	<line x1="10" y1="12" x2="10" y2="100%" style="stroke: white;stroke-width:0.5" #senderLine />

	<!-- Receiver side -->
	<text x="90" y="10" fill="white" font-size="5" text-anchor="middle">Receiver</text>
	<line x1="90" y1="12" x2="90" y2="100%" style="stroke: white;stroke-width:0.5" #receiverLine />

	@for (item of lineNumber(); track $index) {
	<line x1="10" x2="90" style="stroke: rgba(100, 78, 89, 0.5);stroke-width:0.5;stroke-dasharray: 3, 3" #dashedLine />
	}

	@for (frame of frameList(); track $index) {
	<defs>
		<marker id="arrow" viewBox="0 0 10 10" refX="5" refY="5" markerWidth="5" markerHeight="5" fill="white"
			orient="auto-start-reverse">
			<path d="M 0 0 L 10 5 L 0 10 z" />
		</marker>
	</defs>

	@if (frame.node === 'sender') {
	<text x="44.5" [attr.y]="dashedLineY()[frame.startIndex] + 5" fill="white" font-size="4" text-anchor="middle">{{ frame.frame.data }}</text>
	<line x1="10" [attr.x2]="frame.received ? '89' : '44.5'" [attr.y1]="dashedLineY()[frame.startIndex]"
		[attr.y2]="frame.received ? dashedLineY()[frame.endIndex] :  (dashedLineY()[frame.startIndex] + dashedLineY()[frame.endIndex]) / 2" style="stroke: white;stroke-width:0.5"
		marker-end="url(#arrow)" />
		@if (!frame.received) {
			<text x="47" [attr.y]="(dashedLineY()[frame.startIndex] + dashedLineY()[frame.endIndex]) / 2" fill="red" font-size="4" text-anchor="middle">X</text>
		}

	<circle cx="10" [attr.cy]="dashedLines()[frame.startIndex].nativeElement.y1.baseVal.value" r="2" [attr.fill]="frameForModal?.id === $index ? 'green' : 'blue'"
		(click)="openModal(frame)" />
	}

	@else {
		<text x="44.5" [attr.y]="dashedLineY()[frame.startIndex] + 5" fill="white" font-size="4" text-anchor="middle">{{ frame.frame.data }}</text>
	<line [attr.x1]="frame.received ? 11 : 45" x2="90" [attr.y1]="frame.received ? dashedLineY()[frame.endIndex] : (dashedLineY()[frame.startIndex] + dashedLineY()[frame.endIndex]) / 2"
		[attr.y2]="dashedLineY()[frame.startIndex]"
		style="stroke: white;stroke-width:0.5" marker-start="url(#arrow)" />
		@if (!frame.received) {
			<text x="45" [attr.y]="(dashedLineY()[frame.startIndex] + dashedLineY()[frame.endIndex]) / 2" fill="red" font-size="4" text-anchor="middle">X</text>
		}

	<circle (click)="openModal(frame)" cx="90"
		[attr.cy]="dashedLineY()[frame.startIndex]" r="2" [attr.fill]="frameForModal?.id === $index ? 'green' : 'blue'" />
	}
	
	}
</svg>

@if (modalVisible) {
<div class="modal">
	<div>
		<h4> {{ frameForModal?.frame?.data }} </h4>
	</div>
	<input id="received-radio-button" type="radio" [checked]="frameForModal?.received" (click)="toggleReceived()">
	<label for="received-radio-button"> Received </label>
	@if (frameForModal?.node === 'receiver') {
		<select name="select-ack" id="select-ack">
			@for (item of senderFrames; track $index) {
				<option [value]="item.id"> {{ item.id }} </option>
			}
		</select>
	}
</div>
}

{{ setDashedLinePositions() }}
{{ setHeight() }}
