<div class="cell-container">
	@for (item of receivedDataSignal(); track $index; let first = $first) {
	<div class="data-cell">
		<div class="bit">
			{{ data()[$index] }}
		</div>

		<div class="signal-container">
			<div class="top-left-dashed"></div>
			<div class="bottom-left-dashed"></div>

			<div class="left-vertical" [style]="leftVerticalStyle(item.leftVertical)"></div>

			<div class="center-vertical"></div>

			<div #topLeft class="top-left" [style]="signalStyle(item.topLeft)"
				(mouseenter)="highlightSignal(item.topLeft, topLeft)"
				(mouseleave)="dehighlightSignal(item.topLeft, topLeft)"
				(click)="activateLeftTop(item, $index)"></div>

			<div #topRight class="top-right" [style]="signalStyle(item.topRight)"
				(mouseenter)="highlightSignal(item.topRight, topRight)"
				(mouseleave)="dehighlightSignal(item.topRight, topRight)"></div>

			<div #bottomLeft class="bottom-left" [style]="signalStyle(item.bottomLeft)"
				(mouseenter)="highlightSignal(item.bottomLeft, bottomLeft)"
				(mouseleave)="dehighlightSignal(item.bottomLeft, bottomLeft)"></div>

			<div #bottomRight class="bottom-right" [style]="signalStyle(item.bottomRight)"
				(mouseenter)="highlightSignal(item.bottomRight, bottomRight)"
				(mouseleave)="dehighlightSignal(item.bottomRight, bottomRight)"></div>
		</div>
	</div>
	}
</div>
