<app-hex-data (hexData)="data.set($event)"></app-hex-data>

<div id="hex-data-view">
  <input type="text" placeholder="Partial" inputData (dataFromUser)="getPartial($event)">
</div>

<div id="partial-data">
  {{ partialData().toUpperCase() }}
</div>

<div id="checksum-container">
  <div id="sender-title">Sender</div>
  <div id="sender">
    @for (item of senderProcessView(); track $index) {
    <div class="process" #senderProcess>
      <div class="process-text">
        {{ item.text }}
      </div>
      <div class="process-sum-container">
        <div class="process-sum">
          <div>
            @for (char of item.number1.toUpperCase(); track $index) {
            <span>
              {{ char }}
            </span>
            }
          </div>
          <div>
            @for (char of item.number2.toUpperCase(); track $index) {
            @if (item.number2.length === 1) {
            <span #addCarry class="add-carry">
              {{ char }}
            </span>
            } @else {
            <span>
              {{ char }}
            </span>
            }

            }
          </div>

          <span class="sum-line"> </span>

          <div>
            @for (char of item.result.toUpperCase(); track $index) {
            @if (item.result.length > partial() && $index === 0) {
            <span #carry style="background-color: #FF8F42;">
              {{ char }}
            </span>
            } @else {
            <span>
              {{ char }}
            </span>
            }
            }
          </div>
        </div>
      </div>

    </div>
    }
  </div>
  <!--<div id="receiver-title">Receiver</div>
  <div id="receiver">
    <div class="process">Process</div>
  </div>-->
</div>

<div class="controls">
  <button (click)="previousProcess()">
    Previous
  </button>
  <button (click)="nextProcess()">
    Next
  </button>
</div>

{{ domAnimation() }}
{{ carryProcess() }}
