<h1>
	Data Communications
</h1>

<p>
	Welcome to the Data Communications course. This course is designed to simulate common Data Communications concepts. 
</p>

<div id="concept-container">
	<div class="concept-class">
		<h3>
			Error Detection
		</h3>
		<div>
			<a routerLink="parity-checksum"> Parity Checksum </a>
			<a routerLink="internet-checksum"> Internet Checksum </a>
			<a routerLink="crc"> CRC </a>
		</div>
	</div>
	<div class="concept-class">
		<h3>
			Visualization
		</h3>
		<div>
			<a routerLink="analog-visual"> Analog Signal </a>
		</div>
	</div>
	<div class="concept-class">
		<h3>
			Signal Encoding Techniques
		</h3>
		<div>
			<a routerLink="digital-to-digital"> Digital to digital </a>
			<a routerLink="digital-to-analog"> Digital to analog </a>
		</div>
	</div>
</div>
