<h1>
	Data Communications
</h1>

<p>
	Welcome to the Data Communications course. This course is designed to simulate common Data Communications concepts.
</p>

<div id="concept-container">
	@for (section of sections; track $index) {
	<div class="concept-class">
		<h3>
			{{ section.name }}
		</h3>
		<div>
			@for (part of section.parts; track $index) {
			<a [routerLink]="part.route"> {{ part.name }} </a>
			}
		</div>
	</div>
	}
	<!--<div class="concept-class">
		<h3>
			Error Correction
		</h3>
		<div>
			<a routerLink="hamming"> Hamming </a>
		</div>
	</div>-->
</div>
